html { background: #fff url('../Main_bg.jpg') no-repeat top fixed; }
.container { margin: 20px auto 100px auto; width: 300px; height: 540px; }
header h1 { font-size:50px; height: auto; }
#info p { font-size: 20px; }
.contact-me span { display:none; }